// colors
$color-primary: #4FECDB
$color-dark-grey: #0B211F
$color-light-grey: #DBEDE9
$color-white: white
$color-accent: #F78995

// fonts
$cursive: 'Lobster Two', cursive
$body: 'Roboto', 'Open Sans', sans-serif

nav
    background-color: $color-white
    height: 80px

.logo
    font-family: $cursive
    position: relative
    float: left
    top: -10px
    left: 15px
    font-size: 70px
    color: $color-dark-grey

.nav-icon
    position: relative
    float: right
    top: 20px
    color: $color-dark-grey



/* PAGE HEADER */

nav {
  background-color: #8BBFA4;
  height: 80px;
}

.logo {
  font-family: 'Lobster Two', cursive;
  position: relative;
  float: left;
  top: -10px;
  left: 15px;
  font-size: 70px;
  color: black;
}

.nav-icon {
  position: relative;
  float: right;
  top: 20px;
  color: black;
}


/* FILTER BOX */

#filterwrapper {
  display: flex;
  width: 95%;
  background-color: #8874EC;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

#filternewsletter {
  padding-left: 15px;
  padding-right: 10px;
  border-left: 1px solid black;
  width: 150px;
}

#filtertable {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

#filterannounce {
  width: 130px;
  padding-left: 5px;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  text-align: center;

}

.filtertitle {
  margin: 5px;
  padding-right: 10px;
  font-family: 'Lobster Two', cursive;
  width: 150px;
  font-size: 1.7em;
  text-align: right;
}

button {
  background-color: #C9A8D4;
  margin: 3px;
  padding: 7px;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
}

button:focus {
  outline: none;
}


/* JOB TABLE */

.visible {
  box-shadow: inset 3px 3px 3px 0px #5F466B;
}


#jobtable {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

td {
  padding-left: 3px;
  padding-right: 3px;
}

.jobTableHeader {
  font-size: 1.1em;
  height: 30px;
}

.leftHead {
  text-align: left;
  padding-left: 3px;
}

.rightHead {
  text-align: right;
  padding-right: 3px;
}

th {
  background-color: #8874EC;
}

.shadedRow {
  background-color: #89C6D4;
}

.unshadedRow {
  background-color: #8BB8D6;
}


/* GENERAL */

.shadow {
  -webkit-box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76);
  -moz-box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76);
  box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76)f
}

table {
  vertical-align: middle;
  background-color: #8874EC;
  border-spacing: 0px;
  font-size: 13px;
}

body {
  background: #8BBFA4;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

html {
    height: 102%;
}

.spacer {
  height: 20px;
}
