nav {
  background-color: #8BBFA4;
  height: 80px;
}

.logo {
  font-family: 'Lobster Two', cursive;
  position: relative;
  float: left;
  top: -10px;
  left: 15px;
  font-size: 70px;
  color: black;
}

#filterwrapper {
  display: flex;
  width: 90%;
  background-color: #8874EC;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

#filternewsletter {
  width: 150;
}

#filtertable {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

.filtertitle {
  margin: 5px;
  font-family: 'Lobster Two', cursive;
  width: 185px;
  font-size: 1.7em;
}

button {
  background-color: #C9A8D4;
  margin: 3px;
  padding: 7px;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
}

.notVisible {
  box-shadow: inset 3px 3px 3px 0px #5F466B;
}


#jobtable {
  width: 90%;
}

.shadow {
  -webkit-box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76);
  -moz-box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76);
  box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76)f
}

table {
  vertical-align: middle;
  background-color: #8874EC;
  border-spacing: 0px;
  font-size: 13px;
}

.nav-icon {
  position: relative;
  float: right;
  top: 20px;
  color: black;
}

body {
  background: #8BBFA4;
  font-family: 'Roboto' sans-serif;
}

.spacer {
  height: 20px;
}

.leftHead {
  text-align: left;
}

.rightHead {
  text-align: right;
}

th {
  background-color: #8874EC;
}

.shadedRow {
  background-color: #89C6D4;
}

.unshadedRow {
  background-color: #8BB8D6;
}
