{% load static from staticfiles %}

<html>
  <head>
    <title>Gainful</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href='{% static "parsing/style.css" %}'/>
    <script type="text/javascript" src='{% static "parsing/elm.js" %}'></script>
  </head>
  <body>
    <div id="elm-page"></div>
  </body>

  <script type="text/javascript">
    var elmDiv = document.getElementById('elm-page');
    var gainful = Elm.embed(Elm.Main, elmDiv, {localStorageToElm: "", jsonLocation: "", welcomeStatusToElm: true});

    // var jobSource = '{% static "parsing/jobs.json" %}';
    var jobSource = '/jobs/'
    gainful.ports.jsonLocation.send(jobSource);

    // initialize visibleOrgs from previous session
    var store = localStorage['visibleOrgs'];
    if(!store) {
      localStorage['visibleOrgs'] = "";
    } else {
      gainful.ports.localStorageToElm.send(store);
    }

    // update the list of visible organizations on every model change
    gainful.ports.localStorageFromElm.subscribe(function(x) {
      localStorage['visibleOrgs'] = x;
    })

    var welcome = localStorage['welcomeStatus'];
    if (!welcome) {
      localStorage['welcomeStatus'] = 'true';
    } else {
      gainful.ports.welcomeStatusToElm.send(JSON.parse(welcome));
    }
    
    gainful.ports.welcomeStatusFromElm.subscribe(
      function(x) {
        localStorage['welcomeStatus'] = x;
      })
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81365361-2', 'auto');
  ga('send', 'pageview');

</script>

</html>
