{% load staticfiles %}

<html>
  <head>
    <title>Gainful</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type "text/css" href='{% static "parsing/style.css" %}'/>
    <script type="text/javascript" src='{% static "parsing/elm.js" %}'></script>
  </head>
  <body>
    <div id="elm-page"></div>
  </body>

  <script type="text/javascript">
    var elmDiv = document.getElementById('elm-page');
    var gainful = Elm.embed(Elm.Main, elmDiv, {localStorageToElm: "", jsonLocation: ""});

    // var jobSource = '{% static "parsing/jobs.json" %}';
    var jobSource = 'static/parsing/jobs.json';
    gainful.ports.jsonLocation.send(jobSource);

    // initialize visibleOrgs from previous session
    var store = localStorage['visibleOrgs']
    if(!store) {
      localStorage['visibleOrgs'] = "";
    } else {
      gainful.ports.localStorageToElm.send(store);
    }

    // update the list of visible organizations on every model change
    gainful.ports.localStorageFromElm.subscribe(function(x) {
      localStorage['visibleOrgs'] = x;
    })
  </script>

</html>
