// colors
$color-primary: #3FBDAF;
$color-dark-grey: #040D0C;
$color-light-grey: #DBEDE9;
$color-white: white;
$color-accent: #72F7B4;
$color-link-visited: #7D9C98;

// fonts
$cursive: 'Lobster Two', cursive;
$body: 'Roboto', 'Open Sans', sans-serif;

/* PAGE HEADER */

nav {
  height: 80px;
}

.logo {
  font-family: $cursive;
  position: relative;
  float: left;
  top: -10px;
  left: 15px;
  font-size: 70px;
  color: $color-dark-grey;
}

.nav-icon {
  position: relative;
  float: right;
  top: 20px;
  color: $color-dark-grey;
}


/* FILTER BOX */

#filterwrapper {
  display: flex;
  width: 95%;
  background-color: $color-primary;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

#filternewsletter {
  padding-left: 15px;
  padding-right: 10px;
  border-left: 1px solid $color-dark-grey;
  width: 150px;
}

#filtertable {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

#filterannounce {
  width: 130px;
  padding-left: 5px;
  font-family: $cursive;
  font-size: 2em;
  text-align: center;

}

.filtertitle {
  margin: 5px;
  padding-right: 10px;
  font-family: $cursive;
  width: 150px;
  font-size: 1.7em;
  text-align: right;
}

#newsletterbutton {
  background-color: $color-accent;
}

button {
  background-color: $color-primary;
  margin: 3px;
  padding: 7px;
  font-size: 16px;
  border: 1px solid $color-dark-grey;
  border-radius: 5px;
}

button:focus {
  outline: none;
}


/* JOB TABLE */

.visible {
  box-shadow: inset 3px 3px 3px 0px $color-dark-grey;
}


#jobtable {
  border: 3px solid $color-primary;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  a:link {
    color: $color-dark-grey;
  }
  a:visited {
    color: $color-link-visited;
  }
}

td {
  padding-left: 3px;
  padding-right: 3px;
}

.jobTableHeader {
  font-size: 1.1em;
  height: 30px;
}

.leftHead {
  text-align: left;
  padding-left: 3px;
}

.rightHead {
  text-align: right;
  padding-right: 3px;
}

th {
  text-align: center;
  background-color: $color-primary;
}

.shadedRow {
  background-color: $color-light-grey;
}

.unshadedRow {
  background-color: $color-white;
}


/* GENERAL */

.shadow {
  -webkit-box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76);
  -moz-box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76);
  box-shadow: 7px 6px 22px -12px rgba(0,0,0,0.76)f
}

table {
  vertical-align: middle;
  border-spacing: 0px;
  font-size: 13px;
}

body {
  background: $color-light-grey;
  font-family: $body;
}

html {
    height: 102%;
}

.spacer {
  height: 20px;
}
