/*
Error: Invalid CSS after "$color-dark-grey": expected selector or at-rule, was ": #0B211F"
        on line 3 of parsing/style.scss

1: // colors
2: $color-primary: #4FECDB
3: $color-dark-grey: #0B211F
4: $color-light-grey: #DBEDE9
5: $color-white: white
6: $color-accent: #F78995
7: 
8: // fonts

Backtrace:
parsing/style.scss:3
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1179:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:1115:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/scss/parser.rb:40:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:403:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:414:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$color-dark-grey\": expected selector or at-rule, was \": #0B211F\"\A         on line 3 of parsing/style.scss\A \A 1: // colors\A 2: $color-primary: #4FECDB\A 3: $color-dark-grey: #0B211F\A 4: $color-light-grey: #DBEDE9\A 5: $color-white: white\A 6: $color-accent: #F78995\A 7: \A 8: // fonts"; }
